a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

:root {
	/* default font sizes polled from https://websemantics.uk/tools/responsive-font-calculator/
	 responsive font sizes for screens between 768px-1920px */
	--huge: clamp(3.8rem, calc(3.8rem + ((1vw - 0.48rem) * 1.3889)), 4.8rem);
	--h1: clamp(2.8rem, calc(2.8rem + ((1vw - 0.48rem) * 1.3889)), 3.8rem);
	--h2: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 1.3889)), 3rem);
	--h3: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.5208)), 1.875rem);
	--h4: clamp(1.125rem, calc(1.125rem + ((1vw - 0.48rem) * 0.3472)), 1.375rem);
	--body: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.1736)), 1.125rem);
	--small: clamp(0.875rem, calc(0.875rem + ((1vw - 0.48rem) * 0.1736)), 1rem);
	/* this is the corresponding line heights for each header */
	--lh1: 1.3;
	--lh2: 1.35;
	--lh3: 1.4;
	--lh4: 1.5;
	--lhbody: 1.6;

	--primaryColor: #3498db;
	--secondaryColor: #e74c3c;
	--backgroundColor: #ffffff;
	--foregroundColor: #000000;
	--dangerColor: #ff0000;
	--successColor: #27cf22;
	--mutedColor: #505050;
}
